<div id="story-view">

    <div class="prev-level">
        <h3 ng-if="sc.chapter.prev">
            <a href="" ng-click="sc.goToChapter($event, sc.chapter.prev.guid)">
                Go back to Chapter <span ng-bind="sc.chapter.prev.sequence"></span>
            </a>
        </h3>
    </div>

    <div class="current-level flex-row">

        <div class="sibling left-sibling side-col">
            <div ng-if="sc.sequence.left">
                <p ng-bind="sc.sequence.left.body"></p>
            </div>
        </div>

        <div class="current-chapter primary-col">
            <div class="chapter-header">
                <h2 ng-bind="sc.storyTitle"></h2>
                <h3>
                    Chapter <span ng-bind="sc.chapter.sequence"></span>
                </h3>
            </div>

            <div class="chapter-body">
                <p ng-bind="sc.chapter.body"></p>
            </div>

            <div class="chapter-footer">
                <div class="chapter-meta">
                    <div class="author">
                        Author:
                        <span ng-bind="sc.chapter.author.fullName"></span>
                    </div>
                    <div class="social">
                        @todo -- social network links
                    </div>
                    <div class="controls">
                        @todo -- controls
                        <a href="" ng-click="sc.toggleForm('nextSequence', true)">Add a few lines</a>
                        <a href="" ng-hide="sc.chapter.sequence === 1" ng-click="sc.toggleForm('currentSequence')">Rewrite these lines</a>
                    </div>
                </div>
                <div class="sequence-nav">
                    <div class="nav-arrows">
                        <a href="" ng-click="sc.goToChapter($event, sc.sequence.left.guid)" ng-disabled="sc.sequence.position === 1">
                            <i>&lt;</i>
                        </a>

                        <span ng-bind="sc.sequence.position"></span>
                        of
                        <span ng-bind="sc.sequence.count"></span>

                        <a href="" ng-click="sc.goToChapter($event, sc.sequence.right.guid)" ng-disabled="sc.sequence.position === sc.sequence.count">
                            <i>&gt;</i>
                        </a>
                    </div>
                    <div class="sequence-number" ng-bind="sc.chapter.sequence"></div>
                </div>
            </div>
        </div>

        <div class="sibling right-sibling side-col">
            <div ng-if="sc.sequence.right">
                <p ng-bind="sc.sequence.right.body"></p>
            </div>
        </div>
    </div>

    <div class="next-level">
        <div class="flex-row">
            <div class="side-col"></div>
            <div class="primary-col">
                <div ng-if="sc.chapter.next.length > 0">
                    <h3>Read on...</h3>
                    <ul class="next-chapters">
                        <li ng-repeat="nextChapter in sc.chapter.next">
                            <h4>
                                <a href="" ng-click="sc.goToChapter($event, nextChapter.guid)">
                                    Chapter <span ng-bind="nextChapter.sequence"></span>
                                </a>
                            </h4>
                            <p ng-bind="nextChapter.body"></p>
                        </li>
                    </ul>
                </div>

                <button ng-click="sc.toggleForm('nextSequence', true)">Add a few lines</button>
            </div>
            <div class="side-col"></div>
        </div>
    </div>

    <div class="modals">
        <div ng-if="sc.chapter">
            <div ng-show="sc.showForm.nextSequence">
                <a href="" ng-click="sc.toggleForm('nextSequence', false)">[X]</a>
                <h3>Add a few lines...</h3>
                <sk-story-chapter-form chapter-id="{{sc.chapter.guid}}"></sk-story-chapter-form>
            </div>
        </div>
    </div>

</div>