/**
 * Story view
 */
#story-view {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
}

#story-view.loaded {

}


#story-view .sibling {

}

#story-view .prev-level {
    /* flex: none; */
    height: 40px;
}

#story-view .current-level {
    flex: 1 0 auto;
    border: 2px dashed #ddd;
    border-width: 2px 0;
}

#story-view .next-level {
    /* flex: none; */
    /* height: 100px; */
    /* overflow: hidden; */
}

#story-view .flex-row {
    display: flex;
    flex-direction: row;
}

#story-view .flex-row .side-col {
    flex: 1 0 0;
    padding: 20px;
}

#story-view .flex-row .primary-col {
    flex: 4 0 0;
    padding: 20px;
}

#story-view .current-chapter {
    display: flex;
    flex-direction: column;
}

#story-view .chapter-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    /* align-self: center;
    padding: var(--space) var(--space) 0; */
}

#story-view .chapter-body > p {
    flex: 1 0 auto;
    align-self: center;
    padding: 0 20%;
}

#story-view .chapter-nav {
    border-top: 1px solid #ddd;
}

#story-view .chapter-nav .nav-arrows {
    float: right;
}