/**
 * Story view
 */
#story-view {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */

    /* width: 100%; */
    /* height: auto; */
    /* height: 100%; */
    /* justify-content: center; */

    /* position: relative; */
}

#story-view .story-container {
    flex: 1 0 auto;
    position: relative;
}

#story-view .story-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#story-view .sequence {
    display: block;

    height: 100%;
}

#story-view .frames {
    display: block;
    width: auto;
    white-space: nowrap;

    height: 100%;
}

#story-view .frame {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
}

#story-view .chapter-wrapper {
    display: block;
    height: 100%;
}

#story-view .chapter {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#story-view .chapter .top {
    flex: none;
}

#story-view .chapter .main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

#story-view .chapter .main p {
    align-self: center;
    width: 100%;
}

#story-view .chapter .bottom {
    flex: none;
}