<div class="frames">
    <div class="frame" ng-repeat="chapter in ssc.sequence.chapters">
        <!-- <div class="chapter-wrapper"> -->
            <div class="chapter">
                <div class="top">
                    <h4>chapter</h4>
                </div>

                <div class="main">
                    <p ng-bind="chapter.body"></p>
                </div>

                <div class="bottom">
                    other stuff
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>